{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block content %}
    <!-- Cabecera -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">                                       
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"  src="{% static 'core/img/Logo4.png' %}"  alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Uñas acrilicas y gelish </span>
              <span class="section-heading-lower">Scarllet Baez </span>
              <span class="section-heading-upper">Técnica en uñas acrilicas y gel semipermanente </span>
            </h2>
            <p class="mb-3">Las citas se reservaran con cubre bocas obligatoriamente y no se pueden traer acompañantes a menos de niños pequeños
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href=" ">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Uñas acrilicas y gel semipermanente</span>
                <span class="section-heading-lower">Garantia de 10 dias habiles </span>
              </h2>
              <p class="mb-0"> Réune sellos con cada servicio que te realicez y al quinto elige cualquiera de las siguientes opciones
                como regalo de tu lealtad.</p>
                <p class="mb-0">Baño de acrilico </p>
                <p class="mb-0">Manicure en seco </p>
                <p class="mb-0">Retiro de gel o acrilico </p>
                <p class="mb-0">20% de descuento en la siguiente aplicacion </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
 